*{
    margin: 0;
    padding: 0;
    font-family: 'Lato',sans-serif;
    font-size: 60px;
}
.display{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh;
    
}
.display input{
    background-color: #202020;
    color: #fff;
    text-align: right;
}
.keyboard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20vh 20vh 20vh 20vh;
    font-weight: 300;
}
.keyboard button{
    
}
.keyboard .clear{
    font-weight: 400;
    background-color: #c6c7cb;
    color: #202020;
    border: 1px solid #c6c7cb;
    font-weight: 400;
}
button.currency{
    background-repeat: no-repeat;
    background-position: center center;
}
button.currency.usd-brl{
    background-image: url("Dolar-Real.png");
}
button.currency.brl-usd{
    background-image: url("Real-Dolar.png");
}
button.currency{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
.select{
    background-color: #4791dc;
    border: 1px solid #4791dc;
}
.convert{
    background-color: #fe8432;
    border: 1px solid #fe8432;
}
.displayConverted{
    color: #7ed321 !important;
}
.converted{
    background-color: #00ae69;
    border: 1px solid #00ae69;
}
button:focus{
    outline: 0;
}