body{
    margin: 0;padding: 0;
    background-color: aquamarine;
    font-family: Arial;
   text-align: center;
    padding-top: 100px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 35px;
}
h4{
    font-size: 20px;
}