@import url(corpo.css);

body{
    margin: 0;padding: 0;
    font-family: 'latoregular';
    font-size: 15px;
}
.column.is-4{
    background-color: #3a3c40;
    height: 100vh;
}
.perfil{
    width: 100%;
    text-align: center;
}
img{
    margin-top: 35px;
    height: 140px;
    width: 140px;
    margin-left: 78px;
    margin-right: 78px;
}
.perfil h2{
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'latobold';
    color: #f6a623;
    font-size: 24px;
}
.perfil h3{
    font-family: 'latobold';
color: #fff;
    font-size: 16px;
}
.button{
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: #f6a623;
}
.button a{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
   font-family: 'latobold';
}

.redesSociais{
    display: flex;
    justify-content: center;
}
.redesSociais li{
    padding-left: 20px;
}
.redesSociais li a{
    text-decoration: none;
   font-size: 30px;
    color: #fff;
}
.tile{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}
.tile h3{
    text-align: left;
    font-size: 16px;
    margin-bottom: 20px;
}
.tile p{
    font-size: 12px;
    color: #8fa4af;
    text-align: left;  
}
