body{
    background-color: #dedede;
    
}
ul{
    display: flex;
    flex-wrap: wrap;
}
li{
    height: 200px;
    margin: 10px;
    padding: 40px 20px;
    list-style-type: none;
    background-color: #27ae60;
    width: 200px;
    border-radius: 6px;
}
li:hover{
    color: #27ae60;
    background: rgba(39, 174, 95, 0.8);
}

a{
    
    text-decoration: none;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    font-style: medium;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 100px;
  -webkit-font-smoothing: antialiased;
}

span{
    margin-top: 10px;
  vertical-align: middle;
}
img{
    color: #fff;
}
.done{
    padding-left: 0px;
    vertical-align: middle;
}
.pendente{
    background-color: #4a4a4a;
}
.pendente:hover{
    color: #4a4a4a;
    background: rgba(74, 73, 74, 0.8);
}