
.myButton{
    height: 200px;
    width: 200px;
    border: none;
    border-radius: 100%;
    margin-top: 100px;
    position: relative;
    left: 30%;
    top: 30%;
    background-color: lightcyan;
    box-shadow: 2px 3px gray;
}
a{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-decoration: none;
    color: black;
  
}
 
