body{
background-color: darksalmon;
}
.myButton{
    height: 300px;
    width: 300px;
    border: none;
    border-radius: 100%;
    margin-top: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    background-color: lightcyan;
    box-shadow: 2px 3px gray;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 100px;
    font-weight: 300;
    color: black;
  
}

 
