*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #fff;
    margin: 10px;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;      
}
div{
     width: 100%;
    text-align: center;
}
.logo{
    background-color: #fff;
    height: 40px;
    width: 213px;
    margin-bottom: -10px;
}
    
ul{
   width: 100%;
    text-align: center;
    
}
li{
   width: 100%;
    padding-top: 40px;
    list-style-type: none;
}
img{
    width: 100%;
}    
a{
    color: #494949;
    text-decoration: none;
}  
.texto{
    margin-top: 0px;
    text-align: left;
    width: 90%;
}   
    
