body{
    height: 100vh;
    background-image: url(Imagens/backg.png);
    background-repeat: no-repeat;
   background-size: 100% 100%;
    margin: 0;padding: 0;
    box-sizing: border-box;
    
}
@font-face {
    font-family: 'muliextrabold';
    src: url('fontes/muli-extrabold-webfont.woff2') format('woff2'),
         url('fontes/muli-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'muliextralight_italic';
    src: url('fontes/muli-extralightitalic-webfont.woff2') format('woff2'),
         url('fontes/muli-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'muliregular';
    src: url('fontes/muli-regular-webfont.woff2') format('woff2'),
         url('fontes/muli-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
section{
    width: 70%;
    max-width: 688px;
    height: 90%;
    min-height: 558px;
    max-height: 628px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 25px;
   font-family: 'muliregular';
  font-weight: normal;
    font-style: normal;
    font-size: 12px;
}
header{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
header nav{
    color: #a4a4a4;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    line-height: 40px;
}
header h2{
    color: #636464;
    padding-left: 20px;
    font-family: 'muliextrabold';
 font-weight: normal;
    font-style: normal;
    font-size: 18px;
}
header nav ul{
    display: flex;
    float: left;
}
header nav li{
    list-style: none;
    font-size: 12px;
    padding-left: -10px;
    margin-right: 5px;
}
header nav a{
    text-decoration: none;
    color: #a4a4a4;
}
li.atualPage{
    font-weight: bold;
}
header img{
    width: 17px;
    height: 17px;
    padding-right: 20px;
    padding-top: 12px;
}
.principal{
    height: 100%;
   max-height: 558px;
    display: flex;
    border: 1px solid #eaeaea;
}
.principal h2{
    font-size: 16px;
    color: #777879;
    font-family: 'muliregular';
  font-weight: normal;
    font-style: normal;
}
.pagamentoInfo{
    padding: 12px;
  width: 50%;
   min-width: 380px; 
   
}
.pagamentoInfo ul{
    list-style: none;
}
.pagamentoInfo ul.cartoes{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    margin-left: -30px;
   
}
.pagamentoInfo ul.cartoes img{
    width: 100px;
    height: 95px;
}

#newcard{
    width: 100%;
   border-bottom: 1px solid #eaeaea;
   
}
.pagamentoInfo input{
    height: 40px;
    width: 270px;
    margin-top: 20px;
    border: 1px solid #dfdfdf;
    padding-left: 15px;
    border-radius: 2px;
    font-size: 14px;
}
::-webkit-placeholder{
    color: #dfdfdf;
    text-align: center;
}
#validacao{
    width: 290px;
    display: flex;
    justify-content: space-between;
}
#validacao::-webkit-placeholder{
     text-transform: uppercase;
}
#validadeCartao{
    width: 145px;
}
#codigo{
    width: 90px;
}
#check{
    width: 15px;
    height: 15px;
    color: #777879;
}
.#lblChheck{
    font-size: 14px;
    color: #777879; 
}
button{
    width: 290px;
    height: 44px;
    background-color: #8bd638;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    font-family: 'muliextrabold';
font-weight: normal;
    font-style: normal;
}
.total{
 width: 50%;
background-color: #ebebeb;
 min-width: 282px;
    max-height: 538px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.total li{
    list-style: none;
    width: 100%;
    margin-left: -30px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 5px;
}
.total a{
    text-decoration: none;
    font-size: 12px;
    color: #777879;
    height: 70px;
    margin-top: -5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.total img{
    height: 45px;
    width: 45px;
}
.detalhes{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-left: 10px;
}
.descricao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 0;
}
.descricao h3{
    font-family: 'muliextrabold';
font-weight: normal;
    font-style: normal;
   font-size: 12px;
}
.descricao p{
     font-family: 'muliextralight_italic';
font-weight: normal;
    font-style: normal;
    font-size: 10px;
}
    .descricao small{
         font-family: 'muliextrabold';
font-weight: normal;
    font-style: normal;
font-size: 10px;
    }
#lastItem{
    border-bottom: none;
}
.valores{
    height: 60px;
    border: none;
   padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #777879;
}
.valores li{
    height: 15px;
   display: flex;
    justify-content: space-between;
    border: none;
    
}
#firstItem{
    border-top: 1px solid #dadada;
}
.subTotal{
   height: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ebebeb;
    padding-left: 10px;
    padding-right: 25px;
    border-top: 1px solid #dadada;
    font-family: 'muliextrabold';
font-weight: normal;
    font-style: normal;
}
