body{
    background-color: #745cc1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
img{
    margin-top: 65px;
    margin-bottom: 50px;
    height: 100px;
   width: 95px;
}
input{
    display: block;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: #745cc1;
    color: #fff;
    height: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-bottom: 0;
    font-size: 18px;
    font-weight: 300;
}
.btnLogin{
    background-color: #fff;
    height: 50px;
    min-width: 250px;
    border-radius: 40px;
    border: none;
    box-shadow: 2px 3px #000 50%;
    color: #39393a;
    font-size: 18px;
    font-style: medium;
    font-weight: 500;
    text-transform: uppercase;
}
::-webkit-input-placeholder{
    color: #fff;
}
a{
   text-decoration: none;
    color: #fff;
}
p{
    margin-top: 3px;
}